doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Timestamp Microservice by Zsolt Meszaros
    link(href="https://fonts.googleapis.com/css?family=Lato:300|Source+Code+Pro:300", rel="stylesheet", type="text/css")
    link(href="style.css", rel="stylesheet", type="text/css")
  body
    block content
